<aside class="widget author">
    <a href="{{- $.Site.BaseURL | relLangURL -}}">
        <header class="d:flex flex:col gap:1.25em">
            {{- with .Site.Params.Meta.Avatar -}}
            <figure>
                {{- $image := resources.Get . -}}
                {{- if $image -}}
                    {{- $image := $image.Resize "300x" -}}
                    <img class="w:full h:full r:300px" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" loading="lazy" alt="Avatar">
                {{- else -}}
                    {{- errorf "Avatar could not be loaded from %q." . -}}
                {{- end -}}
            </figure>
            {{- end -}}

            <section class="content">
                <h4>{{- T "Site.Author" -}}</h4>
                <p class="secondary">{{- T "Site.Punchline" -}}</p>
            </section>
        </header>
    </a>

    {{- partialCached "widgets/social.html" . -}}
</aside>