<aside class="widget avatar">
    <header>
        {{- with .Params.image -}}
        <figure>
            {{- with resources.Get . -}}
            <img class="avatar image" src="{{- .RelPermalink -}}" loading="lazy" alt="Avatar">
            {{- end -}}
        </figure>
        {{- end -}}

        <section class="content">
            <h3>{{- .Params.title -}}</h3>
            {{- with .Params.description -}}
            <p class="secondary">{{- . -}}</p>
            {{- end -}}
        </section>
    </header>

    {{- partialCached "widgets/social.html" . -}}
    {{- partialCached "common/navigation.html" . -}}
</aside>