{{- $CurrentPage := . -}}
    
<section>
    <!-- Navigation Menu -->
    {{- with .Site.Menus.main -}}
    <ul class="d:flex flex:column gap:15px">
        {{- range . -}}
        <li>
            {{- $IsCurrentPage := $CurrentPage.IsMenuCurrent "main" . -}}                
            {{- $LinkStyle := "button link d:flex ai:center p:6px gap:10px uppercase" -}}
            {{- if $IsCurrentPage -}}
                {{- $LinkStyle = printf "%s %s" $LinkStyle "f:bold active" -}}
            {{- end -}}

            <a class="{{- $LinkStyle -}}" href="{{ .URL }}">
                {{- with .Params.Icon -}}
                {{- $IconFile := printf "/navigation/%s" . -}}
                {{- partial "utilities/icon.html" $IconFile -}}
                {{- end -}}
                <span>{{- .Name -}}</span>
            </a>
        </li>
        {{- end -}}
    </ul>
    {{- end -}}
</section>