<section>
    <!-- Social Links -->
    {{- with .Site.Menus.social -}}
    <ul class="d:flex flex:row gap:10px">
        {{- range . -}}
        <li>
            <a class="social {{ .Identifier }}" href="{{- .URL -}}" target="_blank" title="{{- .Name -}}">
                {{- with .Name -}}
                {{- $icon := printf "/navigation/%s.svg" . -}}
                {{- partial "utilities/icon.html" $icon -}}
                {{- end -}}
            </a>
        </li>
        {{- end -}}
    </ul>
    {{- end -}}
</section>