{{- $limit := default 10 .Params.limit -}}

<section class="widget tags">
    <header class="d:flex">
        <h4 class="d:flex ai:center jc:end gap:5px">
            <span>{{- partial "utilities/icon.html" "tag.svg" -}}</span>
            <span>{{- T "Widgets.Tags.Label" -}}</span>
        </h4>
    </header>
    <div class="cloud">
        {{- range first $limit $.Site.Taxonomies.tags.ByCount -}}
        <a class="button tag" href="{{- .Page.RelPermalink -}}">{{- .Page.Title }} ({{ .Count -}})</a>
        {{- end -}}
    </div>
</section>