{{- define "main" -}}
<header class="widget header">
    <section class="title">
        <h3>{{- .Params.title -}}</h3>
        {{- with .Params.description -}}
        <p class="secondary">{{- . -}}</p>
        {{- end -}}
    </section>

    {{- partialCached "widgets/social.html" . -}}
    {{- partialCached "common/navigation.html" . -}}
</header>

<section class="gallery-container">

    <div class="toolbar">
        {{- partialCached "utilities/back.html" . -}}
    </div>
    
    <section class="gallery" data-gallery-scroll="false">
        {{- range .Resources.ByType "image" -}}
        {{- $thumbnail := .Resize "400x" -}}

        <figure class="item" data-image="{{- .RelPermalink -}}">
            <img src="{{- $thumbnail.RelPermalink -}}" />
        </figure>
        {{- end -}}
    </section>
</section>

<section class="popup hidden"></section>
{{- end -}}