{{- define "main" -}}

{{- partial "widgets/header.html" . -}}

<div class="toolbar">
    <button type="button" class="btn back" onclick="window.history.back()">
        <span class="icon">{{- partial "utilities/icon.html" "arrow-left.svg" -}}</span>
        {{- T "Articles.BackButtonLabel" -}}
    </button>
</div>

<section class="gallery">

    {{- range .Params.content -}}
    {{- $permalink := partial "utilities/image.html" .url -}}
    <figure class="item">
        <img src="{{- $permalink -}}">
        {{- with .caption -}}
        <figcaption class="caption">
            <p>{{- . -}}</p>
        </figcaption>
        {{- end -}}
      </figure>
    {{- end -}}
</section>
{{- end -}}