.widget.header {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 0 1rem 2rem;
    align-items: center;
    justify-content: center;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.5em;
        margin: 1.5rem 0;
    }
}

.widget.avatar {
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1.5em;

    align-items: center;
    justify-content: center;
    text-align: center;

    .content {
        margin-bottom: 1rem;;
    }
}

.widget.header,
.widget.avatar {
    margin-top: 3rem;
}

@media (min-width: $breakpoint-md) {
    .widget.header,
    .widget.avatar {
        max-width: var(--article-max-width);
        margin-top: 4em;
    }
}

.widget.avatar {
    figure {
        width: 150px;
        height: 150px;

        img {
            border-radius: 100%;
            width: 100%;
            height: 100%;
        }
    }
}