
.widget.author {
    display: flex;
    flex-direction: column;
    gap: 2em;

    margin-top: 1em;

    align-items: center;
    justify-content: center;
    text-align: center;

    header {
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        align-items: center;
        justify-content: center;

        figure {
            width: 150px;
            height: 150px;
        }

        section.content {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
}

@media (min-width: $breakpoint-md) {
    .widget.author {
        max-width: 600px;
        margin-top: 5em;
    }
}