.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 0.5em;
    
    background: var(--background-accent-color);
    
    text-decoration: none;
    cursor: pointer;

    color: var(--white);
    
    transition: all var(--transition-duration) ease;

    &:hover {
        transform: scale(1.10);
    }

    svg {
        width: 1.5em;
        height: 1.5em;
    }
}

.social {
    &[data-theme-coloured="true"] {
        &.linkedin {
            background-color: #0a66c2;
        }

        &.instagram {
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        }

        &.github {
            // background: linear-gradient(90deg, #3d00a6, #000e17);
            // background: -moz-linear-gradient(90deg, #3d00a6, #000e17);
            // background: -webkit-linear-gradient(90deg, #3d00a6, #000e17);
            
            background: linear-gradient(315deg, #473266, #3d00a6);
            background: -moz-linear-gradient(315deg, #473266, #3d00a6);
            background: -webkit-linear-gradient(315deg, #473266, #3d00a6);
        }
    }
}