.widget.tags {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 0.5em;
    margin: 0 0.5em;

    .cloud {
        color: var(--text-color);
        display: flex;
        gap: 5px;
    }
}