<section class="d:flex flex:col jc:center ai:center mb:3em mt:5em">
    {{- with .Params.Image -}}
    {{- $ImagePermalink := partialCached "utilities/image.html" . -}}
    <img class="object:cover w:160 circle r:250 mb:2em" src="{{- $ImagePermalink -}}" loading="lazy" alt="author-picture" />
    {{- end -}}

    {{- with .Params.Author -}}
    <h3 class="mb:0.75em">{{- . -}}</h3>
    {{- end -}}

    <div class="md t:center max-w:600px@sm secondary">
        {{ .Content }}
    </div>
</section>