{{- define "main" -}}
<!-- Show articles list -->
{{- $content := .Pages -}}

<section class="article list">
{{- if $content -}}
    {{- range $content -}}
        <a class="article card" href="{{- .RelPermalink -}}">
            {{- if .Params.series -}}
            <section class="article tags">
                {{- range (.GetTerms "series") -}}
                    <span class="tag" data-tag="{{ $.IsPage }}">{{- .LinkTitle -}}</span>
                {{- end -}}
            </section>
            {{- end -}}
            {{- partial "article/article.preview.html" . -}}
        </a>
    {{- end -}}
{{- else -}}
    <h3>{{- default "NO CONTENT AVAILABLE" .Site.Params.Translations.DefaultArticlesMessage -}}</h3>
{{- end -}}
</section>

<!-- Pagination -->
{{- partial "common/pagination.html" . -}}
{{- end -}}