:root {
    --white: #FFF;
    --black: #000;

    --font-size: 1em;
}

[data-color-scheme="dark"] {    
    --background-color: #1D1F25;
    // --background-primary-color: #33374675;
    --background-secondary-color: #33374650;
    --background-accent-color: #333746;
    --background-dark-color: #14161a;

    --text-color: #C3C6CF;
    --text-secondary-color: #9A9FAE;
    // --text-tertiary-color: rgb(166, 171, 184);
    --text-muted-color: #9A9FAE90;
    --text-accent-color: #d7d8df;
}

[data-color-scheme="light"] {    
    --background-color: #FFFFFF;
    --background-primary-color: #eceff1;
    --background-secondary-color: #f8f9fa;
    --background-accent-color: #333746;
    --background-dark-color: #14161a;

    --text-color: #050505;
    --text-secondary-color: #151515;
    --text-muted-color: #05050590;
    --text-accent-color: #010101;
}

.bg-default {
    background-color: var(--background-color);
}

.bg-accent {
    background-color: var(--background-accent-color);
}

.default {
    color: var(--text-color);
}

.secondary {
    color: var(--text-secondary-color);
}

.accent {
    color: var(--text-accent-color);
}

.muted {
    color: var(--text-muted-color);
}