@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1, h2, h3, h4, h5, h6 { font-family: 'Poppins'; }
html { font-family: 'Lato'; }

h1, h2, h3, h4, h5, h6 {
    color: var(--text-accent-color);
}

:root {
    --text-size-sm: 0.9em;
}