@media (min-width: $breakpoint-md) {
    .markdown {
        padding: 2em;
    }
}

[data-color-scheme="light"] .markdown {
    --md-background-color: #f8f9fa;
    --md-color: #111111;
    --md-color-light: #080808;

    --md-blockquote-bg-color: #EEEFF3;
    --md-blockquote-color: #252525;

    --md-hyperlink-color: #0078d4;

    --md-line-color: #333746AB;
    --md-accent-color: #EDC84C90;

    --md-cta-bg-color: #e9ecef;
    --md-cta-bg-hover-color: #eceff1;

    --md-table-border: #d8d8d8;
    --md-table-header-bg-color: #ebebeb;
    --md-table-row-odd-bg-color: #F5F5F5;
    --md-table-row-even-bg-color: #F0F0F0;
    
    --md-code-bg-color: #2E303A;
    --md-inline-code-bg-color: #EEEFF3
}

.markdown {
    --md-background-color: #33374650;
    --md-color: #C3C6CF;
    --md-color-light: #CCC;

    --md-blockquote-bg-color: #2E303A;
    --md-blockquote-color: #EDC84C;

    --md-hyperlink-color: #61BFC1;

    --md-line-color: #333746AB;
    --md-accent-color: #EDC84C90;

    --md-cta-bg-color: #2E303A;
    --md-cta-bg-hover-color: rgba(81, 86, 107, 0.671);

    --md-table-border: #424555AA;
    --md-table-header-bg-color: #2E303A75;
    --md-table-row-odd-bg-color: #2E303AEE;
    --md-table-row-even-bg-color: #2E303A99;
    
    --md-code-bg-color: #2E303A;
}

.markdown {
    background: var(--md-background-color);
    color: var(--md-color);
    padding: 2em;
    margin: 0 0 1em;
    border-radius: 1em;
    width: 100%;
    max-width: var(--article-max-width);

    h1,
    h2,
    h3,
    h4 {
        font-weight: 400;
    }

    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child),
    h4:not(:first-child),
    h5:not(:first-child) {
        margin-top: 32px;
        padding: 0;
    }

    h1:not(:last-child),
    h2:not(:last-child),
    h3:not(:last-child),
    h4:not(:last-child),
    h5:not(:last-child),
    h6:not(:last-child) {
        margin-bottom: 10px;
        padding: 0;
    }

    p:not(:last-child) {
        margin-bottom: 12px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    a {
        color: var(--md-hyperlink-color);
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: baseline;
        overflow-wrap: anywhere;
    }

    a:hover {
        text-decoration: underline;
    }

    // p {
    //     font-size: 1.15em;
    // }

    ul,
    ol {
        padding: 0;
        margin: 0 0 1em;
    }

    ul {
        list-style: disc;
        margin-left: 2.5em;
    }

    ol {
        margin-left: 2em;
    }

    li {
        line-height: 24px;
        margin-bottom: .5em;
    }

    li ul {
        list-style-type: square;
        margin: 0 0 0 24px;
    }

    li ul li ul {
        list-style-type: circle;
    }

    :not(.highlight) code {
        background-color: var(--md-inline-code-bg-color) !important;
        display: inline-flex;
        align-items: center;
        padding: 0.15em 0.5em;
        border-radius: 5px;
    }

    .highlight {
        pre,
        code {
            display: block;
            font-family: Consolas, Monaco, Andale Mono, monospace;
            font-size: 14px;
            background: var(--md-code-bg-color) !important;
            padding: 0.4em;

            text-wrap: wrap;
            word-wrap: break-word;
        }
    }

    .highlight {
        margin-bottom: 1em;
        border-radius: 0.75em;
        overflow-x: scroll;
        
        &::-webkit-scrollbar  {
            background-color: transparent;
            height: 6px;
        }
    
        &::-webkit-scrollbar-thumb  {
            background: hsla(0,0,25%, 0.25);
        }

        pre {
            padding: 1em;
            text-wrap: nowrap;
        }

        code {
            padding: 0;
            text-wrap: nowrap;
        }
    }

    table:not(.highlight table) {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 1em;

        td, th {
            padding: 0.5em;
            border: 1px solid var(--md-table-border);
            text-wrap: balance;
            word-break: break-word;

            code {
                text-wrap: nowrap;
            }
        }

        thead th {
            background-color: var(--md-table-header-bg-color);
            color: var(--md-color);
            font-weight: normal;
            // border: 1px solid #54585d50;
            text-align: left;
        }
        
        tbody td {
            color: var(--md-color-light);
            // border: 1px solid #dddfe1;
        }
        tbody tr {
            // background-color: #f9fafb;
            background-color: var(--md-table-row-even-bg-color);
        }
        tbody tr:nth-child(odd) {
            // background-color: #ffffff;
            background-color: var(--md-table-row-odd-bg-color);
        }
    }

    aside {
        display: block;
        float: right;
        width: 390px;
    }

    blockquote {
        margin: 0.5em 0 1em;
        padding: 1em 1.15em;
        border-radius: 0.75em;
        background: var(--md-blockquote-bg-color);

        * {
            line-height: 1.5;
            margin: 0;
        }
    }

    blockquote {
        color: var(--md-blockquote-color);
        
        cite {
            font-size: 14px;
            font-style: normal;
            text-transform: uppercase;

            a.source {
                display: block;
                margin-top: .15em;
                text-decoration: none;
                transition: all var(--transition-duration) ease;

                &:hover {
                    opacity: 0.8;
                }
            
                &a:active {
                    opacity: 0.5;
                    transform: scale(0.98);
                }
            }

            &::before {
                content: '';
                display: block;
                border-top: 3px solid var(--md-accent-color);
                margin: 1em 0 0.75em;
                width: 1.5em;
            }
        }
    }

    // blockquote cite:before {
    //     content: '\2014 \00A0';
    // }

    blockquote p {
        color: var(--md-blockquote-color);
        font-size: 1em;
    }

    hr {
        text-align: left;
        margin: 16px auto;
        border: 2px solid var(--md-line-color);
        border-radius: 5px;
    }

    figure,
    img {
        margin: 24px 0;
        border-radius: 0.5em;

        &.custom-img-svg {
            display: inline-block;
            margin: 0;
        }
    }

    .cta {
        display: inline-block;
        background: var(--md-cta-bg-color);
        padding: 0.75em 1em;
        border-radius: 0.5em;
        text-decoration: none;
        color: var(--md-color);

        &:hover {
            background: var(--md-cta-bg-hover-color);
            text-decoration: none;
            transform: scale(1.025);
        }
        
        &:active {
            background: var(--md-cta-bg-hover-color);
            text-decoration: none;
            transform: scale(0.975);
        }
        
        transition: all var(--transition-duration) ease;    
    }
}