$breakpoint-sm: 500px;
$breakpoint-md: 700px;
$breakpoint-lg: 1024px;

@import "./_fonts.scss";
@import "./_colors.scss";
@import "./_articles.scss";
@import "./_markdown.scss";

@import "./widgets/author.scss";
@import "./widgets/social.scss";
@import "./widgets/gallery.scss";

:root {
    --global-gap: 2em;
    --global-radius: 1em;
    --transition-duration: 250ms;
    --svg-icon-size: 20px;
    --article-max-width: 900px;
    
}

html {
    background-color: var(--background-color);

    &::-webkit-scrollbar  {
        background-color: transparent;
        width: 6px;
    }

    &::-webkit-scrollbar-thumb  {
        background: hsl(0,0,25%);
        border-radius: var(--global-radius);
    }
}

body {
    display: flex;
    flex-direction: column;
    
    position: relative;
    font-size: var(--font-size);
    min-height: 100vh;
    line-height: 1.75;
    gap: 2em;

    max-width: 1400px;
    margin: auto;

    * {
        transition: all var(--transition-duration) ease;
    }

    footer {
        color: var(--text-muted-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        margin: 0 0.25em;
        padding: 0 var(--global-gap) var(--global-gap) 0;
    }

    @media (min-width: $breakpoint-md) {
        footer {
            padding: 0;
        }
    }
}

@media (min-width: $breakpoint-md) {
    body {
        padding: var(--global-gap);
    }
}

main {
    display: inherit;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 1em;
}

svg {
    width: var(--svg-icon-size);
    height: var(--svg-icon-size);
}

.shortcode.youtube {
    display: flex;
    flex: 1;

    iframe {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 1em;
    }
}