@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1, h2, h3, h4, h5, h6 { font-family: 'Poppins'; }
html { font-family: 'Lato'; }

:root {
    --global-gap: 2em;
    --global-radius: 1em;
    --transition-duration: 250ms;
    --svg-icon-size: 20px;

    --white: #FFF;
    --black: #000;

    --small-text: 0.9em;
}

[data-color-scheme="dark"] {
    --background-color: #1D1F25;
    --background-primary-color: #33374675;
    --background-secondary-color: #33374650;
    --background-accent-color: #333746;

    --text-color: rgb(195, 198, 207);
    --text-secondary-color: #9A9FAE;
    --text-tertiary-color: rgb(166, 171, 184);
    --text-muted-color: #9A9FAE90;
    // --text-muted-color: rgb(76, 81, 95);
    --text-accent-color: rgb(215, 216, 223);

    --font-size: 1em;
}

html {
    background-color: var(--background-color);

    &::-webkit-scrollbar  {
        background-color: transparent;
        width: 6px;
    }

    &::-webkit-scrollbar-thumb  {
        background: hsl(0,0,25%);
        border-radius: var(--global-radius);
    }
}


body {
    display: flex;
    flex-direction: column;
    
    position: relative;
    padding: var(--global-gap);
    line-height: 1.5;
    font-size: var(--font-size);
    min-height: 100vh;
    gap: 2em;

    max-width: 1400px;
    margin: auto;
}

main {
    display: inherit;
    flex-direction: column;
    flex: 1;
    gap: 2em;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }    
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-accent-color);
}

.bg-default {
    background-color: var(--background-color);
}

.bg-primary {
    background-color: var(--background-primary-color);
}

.bg-secondary {
    background-color: var(--background-secondary-color);
}

.bg-accent {
    background-color: var(--background-accent-color);
}

.default {
    color: var(--text-color);
}

.secondary {
    color: var(--text-secondary-color);
}

.tertiary {
    color: var(--text-tertiary-color);
}

.accent {
    color: var(--text-accent-color);
}

.muted {
    color: var(--text-muted-color);
}

.articles {    
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2em;

    article {
        box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.05);
        transition: all var(--transition-duration) ease;

        &:hover {
            transform: scale(1.02);
            transition: all var(--transition-duration) ease;
        }

        .article-details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.5em;
            gap: 1.25em;
        }

        .article-categories {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
        }

        .article-footer {
            font-size: var(--small-text);
        }
    }
}

.tag {
    display: block;
    background-color: var(--background-accent-color);
    padding: 0.5em 0.75em;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: var(--small-text);
    line-height: 1;
}

.btn {
    text-decoration: none;
    cursor: pointer;

    color: var(--text-tertiary-color);
    transition: all var(--transition-duration) ease;
    
    &:hover {
        color: var(--text-accent-color);
    }

    &.link {
        &:hover {
            transform: scale(1.025);
        }
        
        &.active {
            color: var(--text-accent-color);
        }
    }

}

.svg svg {
    width: var(--svg-icon-size);
    height: var(--svg-icon-size);
}

.aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-self: stretch;
    position: relative;
    gap: 1em;

    h4 {
        color: var(--text-color);
    }
}

@media (min-width: 768px) {
    .aside {
        position: sticky;
        top: 0;
        max-height: 100vh;
        min-width: 200px;
        max-width: 200px;
    }

    .widget.author {
        min-width: unset;
    }
}

@media (min-width: 1024px) {
    .aside {
        min-width: 300px;
        max-width: 300px;
    }
}

.widget.search {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;

    form {
        display: flex;
        align-items: center;
        width: 100%;

        background-color: var(--background-accent-color);
        border-radius: var(--global-radius);
        padding: 0.75em 1em;

        .input-group {
            display: flex;
            flex-direction: column;
            flex: 1;

            label {
                color: var(--text-secondary-color);
                font-size: var(--small-text);
            }

            input {
                color: var(--text-color);
                line-height: 1.15;
                width: 100%;
                padding: 0.25em 0;
                border: 0;
                caret-color: var(--white);

                &:focus-visible {
                    outline-width: 0;
                }
            }
        }

        button {
            width: 24px;
            height: 24px;
            color: var(--text-secondary-color);
        }
    }
}

.expanded {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;

    .widget.search {
        form {
            padding: 1.25em 1.5em;
        }
    }
}


.widget.tags {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 0.5em;
    margin: 0 0.5em;

    .cloud {
        color: var(--text-color);
        display: flex;
        gap: 5px;
    }
}

.expanded .widget.tags {
    align-items: start;
}