$breakpoint-sm: 500px;
$breakpoint-md: 700px;
$breakpoint-lg: 1024px;

@import "./_fonts.scss";
@import "./_colors.scss";
@import "./_articles.scss";
@import "./_markdown.scss";

@import "./widgets/author.scss";
@import "./widgets/social.scss";
@import "./widgets/gallery.scss";

:root {
    --global-gap: 1em;
    --global-radius: 1em;
    --transition-duration: 200ms;
    --svg-icon-size: 20px;
    --article-max-width: 1024px;
    --header-max-width: 768px;
}

[data-color-scheme="light"] {
    #theme-toggle .light {
        display: none;
    }

    #theme-toggle .dark {
        display: block;
    }
}

[data-color-scheme="dark"],
[data-color-scheme="auto"] {
    #theme-toggle .light {
        display: block;
    }

    #theme-toggle .dark {
        display: none;
    }
}

@keyframes slide-in {
    0% { 
        transform: translateY(-4px);
        opacity: 0.8; 
    }
    100% { 
        transform: translateY(0);
        opacity: 1; 
    }
}

@keyframes fade-in {
    0% { opacity: 50%; }
    100% { opacity: 100%; }
}

html {
    background-color: var(--background-color);

    &::-webkit-scrollbar  {
        background-color: transparent;
        width: 6px;
    }

    &::-webkit-scrollbar-thumb  {
        background: hsl(0,0,25%);
        border-radius: var(--global-radius);
    }
}

body {
    display: flex;
    flex-direction: column;
    
    position: relative;
    font-size: var(--font-size);
    min-height: 100vh;
    line-height: 1.75;
    gap: 2em;

    max-width: 1400px;
    margin: auto;

    &[data-loading="true"] * {
        opacity: 0;
    }

    &[data-loading="false"] * {
        animation: slide-in 200ms linear;
    }

    footer {
        color: var(--text-muted-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;

        margin: 0 0.25em 1em;
        padding: 0 var(--global-gap) var(--global-gap) 0;
        text-transform: uppercase;
        text-align: center;

        .actions {
            display: flex;
            gap: 0.5rem;
        }
        
        button, a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            
            font-size: var(--text-size-sm);
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            color: var(--text-secondary-color);
            transition: all .2s ease;

            &::before {
                content: '';
                position: absolute;
                bottom: -4px;
                height: 2px;
                border-radius: 2px;
                background: var(--text-accent-color);
                width: 0px;
                transition: width 0.2s ease;
            }
            
            &:hover{
                color: var(--text-accent-color);
                &::before { width: 20px; }
            }

            &:active {
                transform: scale(0.95);
                font-weight: bold;
            }
        }
    }

    @media (min-width: $breakpoint-md) {
        footer {
            padding: 0;
        }
    }
}

@media (min-width: $breakpoint-md) {
    body {
        padding: var(--global-gap);
    }
}

main {
    display: inherit;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

svg {
    width: var(--svg-icon-size);
    height: var(--svg-icon-size);
}

.shortcode.youtube {
    display: flex;
    flex: 1;

    iframe {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 1em;
    }
}

.btn.back {
    display: flex;
    align-items: center;
    justify-content: start;

    line-height: 1;
    font-size: var(--text-size-sm);
    color: var(--text-secondary-color);

    // background-color: var(--background-accent-color);
    text-transform: uppercase;
    margin-bottom: 1.5em;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
        transform: scale(0.98);
    }

    .icon {
        margin-right: 0.25em;
    }
}

.toolbar {
    width: 100%;
    padding: 0 1em;
}

.nav-item {
    &[data-page-active="true"] {
        color: var(--text-accent-color);
        pointer-events: none;
    }

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    color: var(--text-secondary-color);
    
    transition: all 0.2s ease;

    &::before {
        content: '';
        position: absolute;
        bottom: -4px;
        height: 2px;
        border-radius: 2px;
        background: var(--text-accent-color);
        width: 0px;
        transition: width 0.2s ease;
    }

    &:hover{
        color: var(--text-accent-color);
        &::before { width: 20px; }
    }

    &:active {
        transform: scale(0.95);
        font-weight: bold;
    }
}