{{- define "main" -}}
<!-- Show articles list -->
{{ $content := partial "utilities/articles-list.html" . }}

<section class="article list">
{{- if $content -}}
    {{- range $content.Pagination.Pages -}}
        <a class="article card" href="{{- .RelPermalink -}}">
            {{- if .Params.series -}}
            <section class="article tags">
                {{- range (.GetTerms "series") -}}
                    <span class="tag" data-tag="{{ $.IsPage }}">{{- .LinkTitle -}}</span>
                {{- end -}}
            </section>
            {{- end -}}
            {{- partial "article/header.html" . -}}
        </a>
    {{- end -}}
{{- else -}}
    <h3>{{- T "Errors.NoArticlesFound" -}}</h3>
{{- end -}}
</section>

<!-- Pagination -->
{{- partial "common/pagination.html" . -}}

<!-- Show widgets (if enabled) -->
{{- if and (default true .Site.Params.Features.Widgets) (default false .Params.Widgets.Browse) -}}
<aside class="aside">
    {{- partial "widgets/search.html" . -}}
    {{- partial "widgets/tags.html" . -}}
</aside>
{{- end -}}
{{- end -}}