<!-- Site Meta Tags -->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- with .Site.Params.description -}}
<meta name="description" content="{{- . -}}" />
{{- end -}}

{{- with .Site.Params.keywords -}}
{{ $keywords := delimit . ", " }}
<meta name="keywords" content="{{- $keywords -}}" />
{{- end -}}

{{- partial "base/_opengraph.html" . -}}

{{- range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ $favicon := resources.Get (.Site.Params.favicon) }}
{{ if $favicon }}
<link rel="shortcut icon" href="{{ $favicon.RelPermalink }}" />
{{ end }}

<!-- Site Title -->
{{- $title := partialCached "base/_title.html" . .RelPermalink -}}
<title>{{- $title -}}</title>

<link rel='canonical' href='{{ .Permalink }}'>

<!-- Analytics -->
{{- partial "base/_analytics.html" . -}}

<!-- Stylesheet -->
<link rel="preload" as="script" href="https://cdn.master.co/css-runtime@rc">
<link rel="preload" as="style" href="https://cdn.master.co/normal.css@rc">
<link rel="stylesheet" href="https://cdn.master.co/normal.css@rc">
<script src="https://cdn.master.co/css-runtime@rc"></script>
{{- partial "base/_styles.html" . -}}

<!-- Scripts -->
{{- partialCached "base/_scripts.html" . -}}